.options{
    padding: 0;
    text-align: center;
}
.options li{ 
    list-style: none;
    display: inline-block;
    margin: 0 6px;
}
.options li .fa-trash{
    color: red;
 }


/* CK Editor CSS change */
.ck .ck-editor__main {
    height: 225px !important;
}
.ck .ck-editor__main>.ck-editor__editable:not(.ck-focused) {
    height: 225px !important;
}
.ck .ck-editor__main>.ck-editor__editable:not(.ck-blurred) {
    height: 225px !important;
}

.ck .ck-powered-by{
    display: none;
}